@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f5f5;
  font-family: 'Noto Sans KR', system-ui, sans-serif;
}

/* css엔진 전역 base 스타일링 */
@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }
}
